{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block header_text%} Menu {% endblock %}

{% block content %}
<div class="row" style="padding-top: 30px;"></div>
<div class="row">
   <div class="col-md-12">
    <h3 class="text-center"> Homepage </h3>

   <p class="text-center">
       Welcome to the Somali Aid Information Management System (AIMS). <br/>
       Here you can view and edit projects and produce reports.  <br/>
       Please use the links below to access the AIMS
   </p>
   </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center">General</h4>
          <li class="text-center">
          <a href="{% url 'projects:dashboard' %}">Projects</a> - Click here to browse all Projects </li>
          <li class="text-center">
          <a href="{% url 'reports:sector-report' %}">Sector Reports</a> - View a Report for your Sector</li>
          <li class="text-center">
          <a href="{% url 'reports:location-report' %}">Location Reports</a> - View a Report for your Location</li>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4 class="text-center">Data Entry</h4>

      {# <li class="text-center"><a href="#">Account Registration </a></li> #}
      <li class="text-center">
      <a href="{% url 'data-entry:dashboard' %}">Add/Edit projects</a> - Click here to manage your Projects</li>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-center">Management Interface</h4>
        <li class="text-center">
        <a href="{% url 'dashboard' %}">Management</a>  - Click here to manage Sectors, Locations and Organizations</li>
    </div>
</div>
<div class="row" style="padding-bottom: 40px;"></div>
</div>
{% endblock %}
