{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row" style="padding-top: 30px;"></div>
<div class="row">
   <div class="col-md-12">
    <h3 class="text-center"> Homepage </h3>
   {% lorem 2 p %}

   </div>
</div>
<div class="row" style="padding-top: 15px;"></div>
<hr>
<div class="row" style="padding-top: 15px;"></div>
<div class="row">
    <p><a href="{% url 'reports:sector-report' %}">Sector reports</a></p>
</div>
<div class="row">
<div class="col-md-12">
    <div class="col-md-4">
        <h4 class="text-center">General</h4>

            <li class="text-center"><a href="#">View projects</a></li>
            <li class="text-center"><a href="{% url 'reports:dashboard' %}">Reports</a></li>
            <li class="text-center"><a href="#">General help</a></li>
    </div>
    <div class="col-md-4">
        <h4 class="text-center">Data Entry</h4>

        <li class="text-center"><a href="#">Account requests </a></li>
        <li class="text-center"><a href="{% url 'data-entry:dashboard' %}">Add/Edit projects </a></li>
        <li class="text-center"><a href="#">Data entry help </a></li>

    </div>
    <div class="col-md-4">
        <h4 class="text-center">Management</h4>

            <li class="text-center"><a href="#">Account approval</a></li>
            <li class="text-center"><a href="{% url 'dashboard' %}">Data management</a></li>
            <li class="text-center"><a href="#">Management Help</a></li>

    </div>
</div>
</div>
{% endblock %}
