{% extends "base.html" %}


{% block content %}

<div class="row">
  <div class="col-md-12">

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="text-center">

<div class="container">
<div class="row" style="padding-top: 40px;"></div>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4">
    <legend>Login </legend>

  {% if form.errors %}

  <div class="has-error form-group">
    <span class="help-block">
      Your username and password didn't match. Please try again.
    </span>
  </div>

  {% endif %}

  {% csrf_token %}

  <div class="form-group">
      {{ form.username.label_tag }}

      <input  class="form-control" id="id_username" maxlength="54" name="username" type="text">

  </div>
  <div class="form-group">
      {{ form.password.label_tag }}

      <input  class="form-control" id="id_password" name="password" type="password">
  </div>

  <button type="submit" class="btn btn-default">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>
  </div>
    <div class="col-md-4"></div>
  </div>
  </div>
</div>
</div>
{% endblock %}
