{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">

  <h3 class="text-center"> Login </h3>

  <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="text-center">

  {% if form.errors %}

  <div class="has-error form-group">
    <span class="help-block">
      Your username and password didn't match. Please try again.
    </span>
  </div>

  {% endif %}

  {% csrf_token %}

  <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
  </div>
  <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
  </div>

  <button type="submit" class="btn btn-default">Login</button>
  <input type="hidden" name="next" value="{{ next }}" />
  </form>

  </div>
</div>

{% endblock %}
