{% extends "base.html" %}

{% block content %}
<div class="container">

<div class="row" style="padding-top: 40px"></div>
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
<form id="myForm" method="post" action="">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            <div class="form-group">
                <label for="rateToSOM">USD to SOM rate</label>
                {{ form.rateToSOM }}
            </div>
            <div class="form-group">
            <button type="submit" class="btn btn-default btn-large">Update exchange rate</button>
            &emsp; &ensp;
            <a href="{% url 'dashboard' %}">Go back</a>
            </div>
       </form>
</div>
<div class="col-md-4"></div>
</div>
</div>
{% endblock %}