{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Add PSG {% endblock %}

{% block header_text%} Add PSG {% endblock %}

{% block content %}
<div class="container">

<div class="row" style="padding-top: 40px"></div>

<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
<h3>Add PSG</h3>
<form id="myForm" class="form" method="post" action="">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
            <div class="form-group">
                {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                {{ form.non_field_errors }}
                {{ form.name.errors }}
            </div>
            <div class="form-group">
                <label for="name">PSG name</label>
                {{ form.name }}
                <label for="description">Description</label>
                {{ form.description }}
            </div>
           <legend>
                Sub-PSGs
            </legend>
           <table class="table" border="0" cellpadding="0" cellspacing="0">
               <tbody id="location">
                   {% for form in formset %}
                   {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                   <tr>
                      <td>{{ form.name }}</td>
                   </tr>
                   {% endfor %}
               </tbody>
           </table>
           {{ formset.management_form }}
            <button class="btn btn-default btn-large" type="submit">Add PSG</button>
            &emsp; &ensp;
            <a href="{% url 'dashboard' %}">Go back</a>
       </form>
</div>
<div class="col-md-3"></div>
</div>
</div>
{% endblock %}