{% extends "base.html" %}

{% block title %} Data Entry {% endblock %}

{% block header_text%} Data Entry {% endblock %}

{% block content %}
<div class="container">

    <div class="row" style="padding-top: 40px;"></div>
    <div id="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a href="{% url 'data-entry:project_add' %}"><h4 style="text-align: center;">Add new project</h4></a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div id="row">
        <div class="col-md-12">
        {% if object_list %}
        <h4>Project list</h4>
        <table class="table table-bordered" style="padding-top: 20px;">

            {% for project in object_list %}
            <tr>
                <td><a href="{% url 'data-entry:project_details' project.id %}">{{ project.name }}</a></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}