{% extends "base.html" %}
{% load humanize %}
{% load filetransfers %}
{% block title %} Project Details {% endblock %}

{% block content %}

<div class="rows" style="padding-top: 40px;" ></div>
<div class="row">
<div class="col-md-12">
    <div class="col-md-7">
        <h4>Project Name:</h4>
        <h3>{{ project.name }}</h3>
        <h4>Description</h4>
        <p>{{ project.description }}</p>
        <h4>Start date</h4>
        <p>{{ project.startDate }}</p>
        <h4>End date</h4>
        <p>{{ project.endDate }}</p>
        <h4>Project value</h4>
        <p>{{ project.value|intcomma }} {{ project.currency }}</p>
        <h4>Funders</h4>
        {% for funder in project.funders.all %}
            <p>{{ funder.name }}</p>
        {% endfor %}
        {% for org in other_organizations %}
                {% if org.role == "Funder" %}
                    <p>org.name</p>
                {% endif %}
            {% endfor %}
        <h4>Implementers</h4>
        {% for implementer in project.implementers.all %}
            <p>{{ implementer.name }}</p>

        {% endfor %}
        {% for org in other_organizations %}
                {% if org.role == "Implementer" %}
                    <p>{{ org.name }}</p>
                {% endif %}
            {% endfor %}
        <h4>Sectors and allocations</h4>
        {% for sector in sec_allocations %}
            <p>{{ sector.sector.name }} - {{ sector.percentage }}</p>
        {% endfor %}
        <h4>Locations and respective allocations</h4>
        {% for location in loc_allocations %}
            <h4>{{ location.location.name }} - {{ location.percentage }}</h4>
            <span>Sublocations involved</span>
            <ol>
            {% for sublocation in location.sublocations.all %}
                <li>{{ sublocation.name }}</li>
            {% endfor %}
            </ol>
        {% endfor %}
        {% if documents %}
        <h4>Project files</h4>
        {% for document in documents %}
            <p>{{ document.name }}
                <a href="{% url 'data-entry:download' pk=document.id %}">Download</a>
            </p>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-5"></div>
</div>
</div>
<div class="row" style="padding-top: 10px;"></div>
<div id="map-canvas"></div>
<script>
function initialize() {
  country = new google.maps.LatLng(5.134736, 46.186371)
  var mapOptions = {
    zoom: 5,
    center: country
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  var markers = [
        {% for allocation in loc_allocations %}
        ['{{ allocation.project }}', '{{ allocation.location.lat }}',
            '{{ allocation.location.lng }}', '{{ allocation.location.name }}'],
        {% endfor %}
    ];
  console.log(markers);
  for( i = 0; i < markers.length; i++ ) {
      var infoWindow = new google.maps.InfoWindow(), marker, i;
      var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
      marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                var content = "<p>" + markers[i][3] + "</p>" + "<p>" + markers[i][0] + "</p>"
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            }
        })(marker, i));
  }
 var subs = [
 {% for allocation in loc_allocations %}
     {% for sub in allocation.sublocations.all %}
        ['{{ allocation.project }}', '{{ allocation.location.name }}', '{{ sub.name }}', '{{ sub.lat }}',
            '{{ sub.lng }}'],
        {% endfor %}
 {% endfor %}
 ];

for( i = 0; i < subs.length; i++ ) {
      var infoWindow = new google.maps.InfoWindow(), marker, i;
      var position = new google.maps.LatLng(subs[i][3], subs[i][4]);
      marker = new google.maps.Marker({
            position: position,
            map: map,
            title: subs[i][0]
        });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                var content = "<p>" + subs[i][2] + " - " + subs[i][1] + "</p>" + "<p>" + subs[i][0] + "</p>"
                infoWindow.setContent(content);
                infoWindow.open(map, marker);
            }
        })(marker, i));
  }
console.log(subs)
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp' +
      '&signed_in=false&callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

{% endblock %}